h1 {
    color: #ffffff;          
    font-size: 62px;           
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px; 
    margin-top: 1px;     
    letter-spacing: 7px;       /* ระยะห่างระหว่างตัวอักษร */
}

h2 {
    color: #eeeeee;          
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;        
    margin-bottom: 15px;
    border-left: 4px solid #eba030; /* เพิ่มเส้นขีดข้างหน้าเพื่อให้ดูเป็นส่วนๆ */
    padding-left: 15px;        /* ระยะห่างระหว่างเส้นกับตัวอักษร */
}

h3 {
    color: #44dacd;          
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;         
    margin-bottom: 15px;
    padding-left: 15px;        /* ระยะห่างระหว่างเส้นกับตัวอักษร */
}

/* สไตล์เพิ่มเติมสำหรับตัวเน้น (em) ใต้ h1 */
.content-box p em {
    color: #cec9c9;          
    font-style: normal;        /* ยกเลิกตัวเอียง */
    font-size: 14px;
}

p {
    color: #eeeeee;          
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1px;          
    margin-bottom: 15px;
    padding-left: 15px;        /* ระยะห่างระหว่างเส้นกับตัวอักษร */
}
